<section data-scroll-section>
    <div class="c-section c-content-tagline u-background-light">
        <div class="o-container">
            <div class="c-content-tagline_inner" data-module-split data-scroll>
                {{& description }}
            </div>
        </div>
    </div>
</section>