<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject }}</title>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center style="font-family: Arial;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#EFEFEF;color: #4D5DF1;">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                        <tr>
                            <td valign="top" style="text-align: center; padding: 60px 0 60px 0;">
                                <img src="{{# withBaseUrl }}assets/app/emails/images/logo-blue.png{{/ withBaseUrl }}" alt="{{ siteName }}">
                            </td>
                        </tr>