{{> app/template/partial/site-header }}

<div class="o-scroll" data-module-scroll="main">
    <section data-scroll-section>
        <header class="c-header -difference">
            {{> app/template/partial/header }}
        </header>
        <div class="c-section">
            <div class="o-container">
                <header class="c-header-contact">
                    <div class="o-layout -gutter">
                        <div class="o-layout_item u-3/5@from-medium">
                            <h1 class="c-heading -h2 u-color-blue u-anim-text-line" data-module-split data-scroll
                                data-scroll-speed="2" data-scroll-position="top">
                                Get <br> in touch
                            </h1>
                            <p class="c-header-contact_infos u-anim -delay-3">
                                Lorem ipsum dolor <br> consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="o-layout_item u-2/5@from-medium">
                            <h2 class="c-heading -h4 u-anim -delay-4">
                                Your message
                            </h2>
                            <form class="c-header-contact_form u-anim -delay-5" action="" data-module-form
                                data-form-confirm-message="Thank you! Our team will reach out as soon as possible."
                                data-form-error-message="Error message">
                                <div class="o-layout -gutter">
                                    <div class="o-layout_item u-1/2@from-small">
                                        <div class="c-form_item">
                                            <label class="c-form_label" for="first-name">First name</label>
                                            <input type="text" class="c-form_input" id="first-name" name="first-name">
                                        </div>
                                    </div>
                                    <div class="o-layout_item u-1/2@from-small">
                                        <div class="c-form_item">
                                            <label class="c-form_label" for="last-name">Last name</label>
                                            <input type="text" class="c-form_input" id="last-name" name="last-name">
                                        </div>
                                    </div>
                                    <div class="o-layout_item">
                                        <div class="c-form_item">
                                            <label class="c-form_label" for="e-mail">E-mail</label>
                                            <input type="e-mail" class="c-form_input" id="e-mail" name="e-mail">
                                        </div>
                                    </div>
                                    <div class="o-layout_item">
                                        <div class="c-form_item">
                                            <label class="c-form_label" for="message">Message</label>
                                            <textarea name="message" class="c-form_textarea" id="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="o-layout_item u-1/2" data-form="feedback">

                                    </div>
                                    <div class="o-layout_item u-1/2 u-text-right">
                                        <div class="c-header-contact_submit_wrap">
                                            <div class="c-spinner">
                                                <svg role="img" aria-hidden="true">
                                                    <use href="assets/app/images/sprite.svg#spinner"></use>
                                                </svg>
                                            </div>
                                            <button class="c-header-contact_submit c-button -blue -big">
                                                Send
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </section>

    <section data-scroll-section class="u-background-light">
        <div class="c-section" id="features">
            <div class="o-container">
                <h2 class="c-heading -h1 u-color-blue u-anim-text-line" data-module-split data-scroll>
                    Main Products
                </h2>

                <div class="o-layout -gutter-small u-text-center c-tiles">
                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="/multi" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="4" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">Odio adipiscing eget lorem tempus et
                                        habitant.</span>
                                    <span class="c-tile_inner_top_item">01</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 216'%3E%3C/svg%3E"
                                        alt="Messenger"
                                        data-load-src="{{# withBaseUrl }}assets/app/images/shapes/shape-01.svg{{/ withBaseUrl }}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">Messenger</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="/multi" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="2" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">Odio adipiscing eget lorem tempus et
                                        habitant.</span>
                                    <span class="c-tile_inner_top_item">01</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 216'%3E%3C/svg%3E"
                                        alt="Messenger"
                                        data-load-src="{{# withBaseUrl }}assets/app/images/shapes/shape-01.svg{{/ withBaseUrl }}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">Messenger</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="/multi" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="-1" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">Odio adipiscing eget lorem tempus et
                                        habitant.</span>
                                    <span class="c-tile_inner_top_item">01</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 216'%3E%3C/svg%3E"
                                        alt="Messenger"
                                        data-load-src="{{# withBaseUrl }}assets/app/images/shapes/shape-01.svg{{/ withBaseUrl }}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">Messenger</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="/multi" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="2" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">Odio adipiscing eget lorem tempus et
                                        habitant.</span>
                                    <span class="c-tile_inner_top_item">01</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 216'%3E%3C/svg%3E"
                                        alt="Messenger"
                                        data-load-src="{{# withBaseUrl }}assets/app/images/shapes/shape-01.svg{{/ withBaseUrl }}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">Messenger</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> app/template/partial/footer }}

</div>

{{> app/template/partial/site-footer }}