{{> app/template/partial/site-header }}



<div class="o-scroll" data-module-scroll="main">
    
    <header class="c-header" data-scroll-section>
        <div class="o-container">
            <div class="o-layout -middle">
                <div class="o-layout_item u-1/2">
                    <div class="c-header_logo">
                        <svg role="img"><use href="assets/images/sprite.svg#logo"></use></svg>
                    </div>
                    <ul class="c-header_menu">
                        <li class="c-header_menu_item -products">
                            <button class="c-header_menu_button" data-module-products-button type="button">
                                Products
                                <span class="c-header_menu_button_arrow">
                                    <svg role="img"><use href="assets/images/sprite.svg#arrow-down"></use></svg>
                                </span>
                            </button>
                        </li>
                        <li class="c-header_menu_item">
                            <a href="">
                                Technology
                            </a>
                        </li>
                        <li class="c-header_menu_item">
                            <a href="">
                                Support
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="o-layout_item u-1/2 u-text-right">
                    <ul class="c-header_menu">
                        <li class="c-header_menu_item">
                            <a href="">
                                Fr
                            </a>
                        </li>
                        <li class="c-header_menu_item">
                            <a href="">
                                View demo
                            </a>
                        </li>
                        <li class="c-header_menu_item">
                            <a href="" class="c-button">
                                Get in touch
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section data-scroll-section>
        <div class="o-container u-text-center">
            <div class="c-device" data-module-smartphone data-texture="assets/3d/textures/smartphone.jpg" ></div>
        </div>  
    </section>

{{> app/template/partial/site-footer }}