{{> app/template/partial/site-header }}

<div class="o-scroll" data-module-scroll="main">
    <div data-scroll-section>
        <div
            class="c-hero"
            data-scroll
            data-scroll-position="top"
            data-scroll-id="hero"
            data-module-hero="main"
            id="hero"
        >
            <div
                class="c-hero_container"
                data-scroll
                data-scroll-sticky
                data-scroll-target="#hero"
            >
                <header class="c-header -difference">
                    {{> app/template/partial/header }}
                </header>

                <div class="c-hero_content">
                    <p>A cloud-based tool box that adapts to your all your project needs.</p>
                </div>

                <div class="c-hero_scroll-indicator">
                    <button class="c-scroll-indicator" type="button">
                        <span class="c-scroll-indicator_label">Scroll</span>
                        <span class="c-scroll-indicator_icon">
                            <svg role="img" aria-hidden="true"><use href="assets/images/sprite.svg#arrow-down"></use></svg>
                        </span>
                    </button>
                </div>

                <div class="c-hero_mask-wrap">
                    <div
                        class="c-mask-shape"
                        data-module-lottie="charcoal-intro"
                        data-lottie-file-path="{{# withBaseUrl }}assets/lottie{{/ withBaseUrl }}"
                        data-lottie-file-name="charcoal-intro"
                        data-hero="mask"
                    >
                    </div>
                </div>

                <div class="c-hero_logo-wrap || o-container u-text-center">
                    <div class="c-hero_logo" data-hero="logo">
                        <svg role="img" aria-label="Charcoal"><use href="assets/images/sprite.svg#logo"></use></svg>
                    </div>
                </div>

                <div
                    class="c-hero_device || c-device"
                    data-module-smartphone="hero"
                    data-texture="{{# withBaseUrl }}assets/3d/textures/smartphone.jpg{{/ withBaseUrl }}"
                    data-autoshow="false"
                >
                </div>
            </div>
        </div>
    </div>

    <div data-scroll-section>
        <div class="c-section">
            <div class="o-container">
                <div class="o-layout -gutter-huge">
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-wysiwyg">
                            <p class="c-heading -h3">So you’re about to make a crucial decision between using Charcoal, WordPress or Drupal for the development of your next digital project?</p>
                        </div>
                    </div>
                    <div class="o-layout_item u-1/2@from-small u-1/3@from-large">
                        <div class="c-wysiwyg">
                            <p>Let us guide you through the benefits of a modern development framework like Charcoal and let’s compare with the best-in-class such as WordPress or Drupal. Our comprehensive guide will help you understand what makes Charcoal stand out from other trusted content management platforms and when you should consider implementing Charcoal into your digital project.</p>
                        </div>
                    </div>
                    <div class="o-layout_item u-1/2@from-small u-1/3@from-large">
                        <div class="c-wysiwyg">
                            <p>Built for those who are aspiring to offer only the best user experiences without compromises or limitations, Charcoal will make (almost) all of your dreams come true with a user-friendly and multi-device interface to manage your Website, power your eCommerce, control your Messaging platform and crunch your Data. It is open-source, performant, W3C compliant and secure.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-scroll-section>
        <div class="c-section">
            <div class="o-container">
                <div class="c-video o-ratio u-16:9">

                </div>
            </div>
        </div>
    </div>

{{> app/template/partial/site-footer }}
