{{> app/template/partial/site-header }}

<div class="o-scroll" data-module-scroll="main">
    <section data-scroll-section>
        <header class="c-header -white">
            {{> app/template/partial/header }}
        </header>
        <div class="c-section u-background-blue">
            <div class="o-container">
                <div class="c-header-multi">
                    <h1 class="c-header-multi_title c-heading -h2 u-anim-text-line" data-module-split data-scroll
                        data-scroll-speed="2" data-scroll-position="top">
                        Technology
                    </h1>
                    <p class="c-header-multi_content c-heading -h4 u-anim -delay-3">
                        A comprehensive open-source PHP framework by Locomotive.
                    </p>
                    <a href="#learn-more" class="c-button -white -hover-gray u-anim -delay-4" data-scroll-to>
                        <span class="c-button_label">
                            Learn more
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div data-scroll-section>
        <div class="c-section u-background-blue">
            <div class="o-container">
                <div class="c-video || o-ratio || u-16:9 || u-border-radius" data-module-video data-scroll
                    data-scroll-repeat data-scroll-call="toggle,Video" data-module-video-modal-toggler
                    data-video-modal-toggler="toggler" data-video-modal-toggler-host="vimeo"
                    data-video-modal-toggler-id="386905142">
                    <button class="c-video_button" aria-label="play" type="button">
                        <span class="c-video_button_icon">
                            <svg role="img" aria-hidden="true">
                                <use href="assets/images/sprite.svg#play"></use>
                            </svg>
                        </span>
                    </button>

                    <video src="{{# withBaseUrl }}assets/video/intro.mp4{{/ withBaseUrl }}" autoplay="false"
                        muted="true" loop="true" data-video="video">
                    </video>
                </div>
            </div>
        </div>
    </div>

    {{> app/template/partial/content-tagline}}

    {{> app/template/partial/content-table}}

    {{> app/template/partial/content-text-image}}

    {{> app/template/partial/content-text-image-reverse}}

    {{> app/template/partial/content-horizontal-title}}

    {{> app/template/partial/content-text-image}}

    {{> app/template/partial/content-quotes}}

    {{> app/template/partial/main-products}}

    {{> app/template/partial/footer }}

</div>

{{> app/template/partial/site-footer }}
