// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #000000;
$blue: #4D5DF1;
$blueDark: #4958E5;
$whiteOff: #F1F2FE;
$blackOff: #191A22;
$grayDark: #AAABB1;
$gray: #AAABB1;
$grayLight: #EFEFEF;

// Specific
// =============================================================================
// Link
$link-color:       #1A0DAB;
$link-focus-color: #1A0DAB;
$link-hover-color: darken(#1A0DAB, 10%);
// Selection
$selection-text-color:       #3297FD;
$selection-background-color: #FFFFFF;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
