{{> app/template/web/partial/site-header }}

<div class="o-scroll" data-module-scroll="main">
    <section data-scroll-section>
        <header class="c-header -difference">
            {{> app/template/web/partial/header }}
        </header>
        <div class="c-section">
            <div class="o-container">
                <header class="c-header-contact">
                    <div class="o-layout -gutter">
                        <div class="o-layout_item u-3/5@from-medium">
                            <h1 class="c-heading -h2 u-color-blue u-anim-text-line" data-module-split data-scroll
                                data-scroll-speed="2" data-scroll-position="top">
                                {{#_t}}contact.title{{/_t}}
                            </h1>
                            <p class="c-header-contact_infos u-anim -delay-3">
                                {{#_t}}contact.subtitle{{/_t}}
                            </p>
                        </div>
                        <div class="o-layout_item u-2/5@from-medium">
                            <h2 class="c-heading -h4 u-anim -delay-4">{{# _t }}contact.form.label{{/ _t }}</h2>
                            <form {{& formAttrs }}>
                                <div class="o-layout -gutter">
                                    <div class="o-layout_item">
                                        <div id="name-field" class="c-form_item">
                                            <label class="c-form_label" for="name">{{# _t }}contact.form.field.name.label{{/ _t }}</label>
                                            <input class="c-form_control c-form_input" id="name" name="name" type="text" required>
                                        </div>
                                    </div>
                                    <div class="o-layout_item">
                                        <div id="email-field" class="c-form_item">
                                            <label class="c-form_label" for="email">{{# _t }}contact.form.field.email.label{{/ _t }}</label>
                                            <input class="c-form_control c-form_input" id="email" name="email" type="email" required>
                                        </div>
                                    </div>
                                    <div class="o-layout_item">
                                        <div id="message-field" class="c-form_item">
                                            <label class="c-form_label" for="message">{{# _t }}contact.form.field.message.label{{/ _t }}</label>
                                            <textarea class="c-form_control c-form_textarea" id="message" name="message" required></textarea>
                                        </div>
                                    </div>
                                    {{# isCaptchaEnabled }}
                                        <div class="o-layout_item">
                                            <div class="c-form_item">
                                                <div {{& captchaAttrs }}></div>
                                            </div>
                                        </div>
                                    {{/ isCaptchaEnabled }}
                                    <div for="c-contact-form-feedback" class="o-layout_item u-1/2" data-form="feedback">
                                    </div>
                                    <div class="o-layout_item u-1/2 u-text-right">
                                        <div class="c-header-contact_submit_wrap">
                                            <div class="c-spinner">
                                                <svg aria-hidden="true" focusable="false">
                                                    <use href="assets/app/images/sprite.svg#spinner"></use>
                                                </svg>
                                            </div>
                                            <button for="c-contact-form-submit" type="submit" class="c-header-contact_submit c-button -blue -big">{{# _t }}form.submit.label{{/ _t }}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </section>

    <section data-scroll-section class="u-background-light">
        <div class="c-section" id="features">
            <div class="o-container">
                <h2 class="c-heading -h1 u-color-blue u-anim-text-line" data-module-split data-scroll>
                    {{#_t}}features.block-title{{/_t}}
                </h2>

                <div class="o-layout -gutter-small u-text-center c-tiles">
                    {{# featuresSummary.0 }}
                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="{{url}}" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="4" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">{{ subtitle }}</span>
                                    <span class="c-tile_inner_top_item">01</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                        alt="{{title}}"
                                        data-load-src="{{thumbnail}}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">{{title}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/ featuresSummary.0 }}

                    {{# featuresSummary.1 }}
                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="{{url}}" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="2" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">{{subtitle}}</span>
                                    <span class="c-tile_inner_top_item">02</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                        alt="{{title}}"
                                        data-load-src="{{thumbnail}}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">{{title}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/ featuresSummary.1 }}

                    {{# featuresSummary.2 }}
                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="{{url}}" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="-1" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">{{subtitle}}</span>
                                    <span class="c-tile_inner_top_item">03</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                        alt="{{title}}"
                                        data-load-src="{{thumbnail}}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">{{title}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/ featuresSummary.2 }}

                    {{# featuresSummary.3 }}
                    <div class="o-layout_item u-1/4@from-medium u-1/2@from-small">
                        <a href="{{url}}" class="c-tile -quarter u-border-radius" data-scroll data-scroll-offset="0"
                            data-scroll-speed="2" data-scroll-target="#features">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">{{ subtitle }}</span>
                                    <span class="c-tile_inner_top_item">04</span>
                                </div>

                                <div class="c-tile_inner_middle">
                                    <img class="c-tile_inner_middle_image"
                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                        alt="{{title}}"
                                        data-load-src="{{thumbnail}}">
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use
                                                    href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                                </use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">{{title}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/ featuresSummary.3 }}
                </div>
            </div>
        </div>
    </section>

    {{> app/template/web/partial/footer }}

</div>

{{> app/template/web/partial/site-footer }}