{{> app/template/web/partial/site-header }}

{{# feature }}
    <div class="o-scroll" data-module-scroll="main">
        <section data-scroll-section>
            <header class="c-header -white">
                {{> app/template/web/partial/header }}
            </header>
            <div class="c-section u-background-blue">
                <div class="o-container">
                    <div class="c-header-multi">
                        <h1 class="c-header-multi_title c-heading -h2 u-anim-text-line" data-module-split data-scroll
                            data-scroll-speed="2" data-scroll-position="top">
                            {{title}}
                        </h1>
                        <p class="c-header-multi_content c-heading -h4 u-anim -delay-3">
                            {{subtitle}}
                        </p>
                        <a href="#learn-more" class="c-button -white -hover-gray u-anim -delay-4" data-scroll-to>
                            <span class="c-button_label">
                                Learn more
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section data-scroll-section>
            <div class="u-background-light">
                <div class="c-content-visual" id="learn-more">
                    <div class="c-content-visual_inner" data-scroll data-scroll-speed="2" data-scroll-offset="0">
                        <img class="c-content-visual_inner_image"
                            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 216'%3E%3C/svg%3E"
                            alt="Messenger"
                            data-load-src="{{# withBaseUrl }}assets/app/images/shapes/shape-01.svg{{/ withBaseUrl }}">
                    </div>
                </div>
            </div>
        </section>

        {{# blocks }}
            {{> $block }}
        {{/ blocks }}

        {{!> app/template/web/partial/content-table}}

        {{!> app/template/web/partial/content-text-image}}

        {{!> app/template/web/partial/content-text-image-reverse}}

        {{!> app/template/web/partial/content-text-image}}

        {{!> app/template/web/partial/content-quotes}}

        {{> app/template/web/partial/main-products}}

        {{> app/template/web/partial/footer }}

    </div>
{{/ feature }}

{{> app/template/web/partial/site-footer }}