{{> app/template/web/partial/site-header }}

<div class="o-scroll" data-module-scroll="main">
    <section data-scroll-section>
        <header class="c-header">
            {{> app/template/web/partial/header }}
        </header>
        <div class="c-section ">
            <div class="o-container">
                <div class="c-header-multi">
                    <h1 class="c-header-multi_title c-heading -h2 u-anim-text-line" data-module-split data-scroll
                        data-scroll-speed="2" data-scroll-position="top">
                        {{title}}
                    </h1>
                    <p class="c-header-multi_content c-heading -h4 u-anim -delay-3">
                        {{summary}}
                    </p>
                </div>
            </div>
        </div>
    </section>

    {{> app/template/web/partial/footer }}

</div>

{{> app/template/web/partial/site-footer }}