{{> app/template/web/partial/site-header }}

<div class="o-scroll u-background-blue" data-module-scroll="main">
    <section data-scroll-section>
        <header class="c-header -white">
            {{> app/template/web/partial/header }}
        </header>
        <div class="c-section ">
            <div class="o-container">
                <div class="c-header-multi">
                    <h1 class="c-header-multi_title c-heading -h2 u-anim-text-line" data-module-split data-scroll
                        data-scroll-speed="2" data-scroll-position="top">
                        {{#_t}}technology.title{{/_t}}
                    </h1>
                    <p class="c-header-multi_content c-heading -h4 u-anim -delay-3">
                        {{#_t}}technology.subtitle{{/_t}}
                    </p>
                    <a href="#learn-more" class="c-button -white -hover-gray u-anim -delay-4" data-scroll-to>
                        <span class="c-button_label">
                            {{#_t}}site.learn-more{{/_t}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div data-scroll-section>
        <div class="c-section -no-padding-top">
            <div class="o-container">
                <div class="c-video || o-ratio || u-16:9 || u-border-radius" data-module-video data-scroll
                    data-scroll-repeat data-scroll-call="toggle,Video" data-module-video-modal-toggler
                    data-video-modal-toggler="toggler" data-video-modal-toggler-host="vimeo"
                    data-video-modal-toggler-id="386905142">
                    <button class="c-video_button" aria-label="play" type="button">
                        <span class="c-video_button_icon">
                            <svg role="img" aria-hidden="true">
                                <use href="assets/app/images/sprite.svg#play"></use>
                            </svg>
                        </span>
                    </button>

                    <video src="{{# withBaseUrl }}assets/app/video/intro.mp4{{/ withBaseUrl }}" autoplay="false"
                        muted="true" loop="true" data-video="video">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div data-scroll-section>
        <div class="c-section -no-padding-top" id="learn-more">
            <div class="o-container">
                <div class="o-layout">
                    <div class="o-layout_item u-4/5@from-small">
                        <div class="c-wysiwyg u-anim">
                            <p class="c-heading -h3 u-anim-text-line" data-scroll data-module-split>{{introExcerpt}}</p>
                        </div>
                    </div>
                </div>
                <div class="o-layout -gutter-huge u-text-right">
                    <div class="o-layout_item u-1/3@from-small u-text-left">
                        <div class="c-wysiwyg u-anim" data-scroll data-scroll-offset="5%">
                            <p>{{introText1}}</p>
                        </div>
                    </div>
                    <div class="o-layout_item u-1/3@from-small u-text-left">
                        <div class="c-wysiwyg u-anim" data-scroll data-scroll-offset="15%">
                            <p>{{introText2}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-scroll-section id="meet-the-team">
        <div class="c-section">
            <div class="o-container c-team u-relative">
                <div class="u-relative">
                    <p class="c-splash-words -absolute">
                        {{# isFrench }}
                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset" data-scroll
                                data-scroll-offset="10%">Rencontrez</span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item " data-scroll data-scroll-offset="10%">l'Équipe
                            </span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset-small" data-scroll
                                data-scroll-offset="10%">Derrière
                            </span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset" data-scroll
                                data-scroll-offset="10%">Le</span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset-small" data-scroll
                                data-scroll-offset="10%">Projet</span>
                        </span>
                        {{/ isFrench }}
                        {{^ isFrench }}
                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset" data-scroll
                                data-scroll-offset="10%">Meet</span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item " data-scroll data-scroll-offset="10%">The Team
                            </span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset-small" data-scroll
                                data-scroll-offset="10%">Behind
                            </span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset" data-scroll
                                data-scroll-offset="10%">The</span>
                        </span>

                        <span class="c-splash-words_row">
                            <span class="c-splash-words_row_item -offset-small" data-scroll
                                data-scroll-offset="10%">Project</span>
                        </span>
                        {{/ isFrench }}
                    </p>
                </div>
                <div class="o-layout">
                    <div class="o-layout_item u-1/3@from-medium">
                        <p class="c-heading -h4">
                            {{# isFrench }}
                            Rencontrez <br>
                            l'équipe derrière <br>
                            le projet
                            {{/ isFrench }}
                            {{^ isFrench }}
                            Meet the <br>
                            team behind <br>
                            the project
                            {{/ isFrench }}
                        </p>
                    </div>
                </div>

                <div class="o-layout u-text-center -gutter-small">
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="1">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="o-layout u-text-center -gutter-small">
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="1.5">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="1.2">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="3">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="o-layout u-text-center -gutter-small">
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="2">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="0.8">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="2">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="o-layout u-text-left -bottom -gutter-small">
                    <div class="o-layout_item u-1/3@from-medium">
                        <div class="c-team_member" data-scroll data-scroll-speed="2">
                            <img class="c-team_member_image"
                                src="data:image/svg+xml,%3Csvg xmlns=`http://www.w3.org/2000/svg` viewBox='0 0 345 345'%3E%3C/svg%3E"
                                data-load-src="/assets/app/images/placeholders/ben0000.png" alt="Ben">
                            <p class="c-team_member_name c-heading -h5">
                                Ben Hawkins
                            </p>
                            <p class="c-team_member_role">
                                Lead Developer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="o-layout u-text-right">
                    <div class="o-layout_item u-text-left u-1/2@from-medium">
                        <a href="{{ routes.contact }}" class="c-tile -wide u-border-radius c-team_cta" data-scroll
                            data-scroll-speed="3" data-scroll-delay="0.1">
                            <div class="c-tile_inner">
                                <div class="c-tile_inner_top">
                                    <span class="c-tile_inner_top_item">Odio adipiscing eget lorem tempus et
                                        habitant.</span>
                                </div>

                                <div class="c-tile_inner_bottom">
                                    <span class="c-tile_inner_bottom_item">
                                        <div class="c-tile_inner_bottom_button">
                                            <svg role="img" aria-hidden="true">
                                                <use href="assets/app/images/sprite.svg#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </span>

                                    <span class="c-tile_inner_bottom_item">
                                        <span class="c-tile_inner_bottom_title">{{#_t}}support.cta{{/_t}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{> app/template/web/partial/footer }}

</div>

{{> app/template/web/partial/site-footer }}