.c-content-table_value {
    // line-height: 0.8;

    svg {
        width: rem(15px);
        height: rem(15px);
    }

    &.-enabled {
        color: $blackOff;
    }
    &.-disabled {
        color: $gray;
    }
}

.c-content-table_value_icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(5px);
    border-radius: 9999px;
    margin-top: -0.1em;

    .c-content-table_value.-enabled & {
        background-color: $green;
        padding: rem(10px) rem(10px) rem(10px) rem(35px);
        color: $white;
    }
    .c-content-table_value.-disabled & {
        background-color: $white;
        padding: rem(10px) rem(35px) rem(10px) rem(10px);
    }
}

.c-content-table_line {
    border-top: 1px solid $grayLine;
    padding: rem($unit-small) 0;
    min-height: rem(130px);
    display: flex;
    align-items: center;
}

.c-content-table_provider {
    padding-bottom: rem($unit);
}

.c-content-table_wrap {

    @media (max-width: $to-medium) {
        margin-top: rem($unit/2);
    }
}
