.c-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    transition: color $speed $easing 0.3s;
    font-weight: $medium;

    &.-difference {
        mix-blend-mode: difference;

        html.is-mobile & {
            mix-blend-mode: normal;
        }
    }

    &.-fixed {
        position: fixed;
        background-color: $white;
        transform: translateY(-100%);

        html.is-first-load & {
            transition: transform $speed $easing, border-bottom $speed $easing;
        }

        html:not(.has-hero-inview):not(.is-scrolling-down).is-loaded.has-scrolled & {
            transform: translateY(0);
        }

        html.has-products-open &,
        html.has-mobile-menu-open & {
            transform: translateY(0);
        }

        .has-products-open & {
            border-bottom: 2px solid $white;
        }

        .c-button:hover {
            color: $black;
        }

        @media (min-width: $from-medium) {
            padding: rem(10px) 0;
        }
        @media (min-width: $from-small) {
            border-bottom: 2px solid $grayLight;
        }


        @media (max-width: $to-medium) {
            padding: rem(20px) 0;
        }
    }

    &.-white {
        color: $white;
    }

    @media (min-width: $from-medium) {
        padding: rem($unit) 0;
    }

    @media (max-width: $to-medium) {
        padding: rem(20px) 0;
    }
}

.c-header_logo {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity $speed-slow $easing, transform $speed-slow $easing;
    width: rem(92px);
    height: rem(17px);
    margin-right: rem(100px);
    margin-top: rem(-3px);

    .is-loaded & {
        opacity: 1;
        transform: none;
        transition-delay: 0.4s;
    }

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.c-header_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.c-header_container_item {}

.c-header_menu {
    display: inline-block;
    vertical-align: middle;
    display: inline-flex;
    align-items: baseline;

}

.c-header_menu_item {
    display: inline-block;
    margin-right: rem(60px);
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity $speed-slow $easing, transform $speed-slow $easing;

    &.-products {
        margin-right: rem(70px);
    }

    .c-header_container_item.-right & {
        &:last-child {
            margin-right: 0;
        }
    }

    .has-products-open &.-products {
        color: $blue;
    }

    .has-products-open &:not(.-products) {
        // opacity: 0;
        // transform: translateY(-30px);
        // pointer-events: none;
        // transition-delay: 0s;
    }

    .is-loaded & {
        opacity: 1;
        transform: none;
    }

    .is-loaded:not(.has-products-open) & {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
                transition-delay: 0.5 + $i * 0.06s;
            }
        }
    }

    .c-link {
        padding: rem(5px) 0;
    }

    @media (max-width: $to-small) {
        margin-right: rem($unit / 2);
    }
}

.c-header_menu_item_inner {
    line-height: inherit;
    position: relative;
    display: block;
    line-height: 1;
}

.c-header_menu_item_inner_arrow {
    display: inline-block;
    width: 12px;
    height: 6px;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -3px;

    .c-header_menu_item.-products & {
        transition: transform $speed $easing;
    }

    .has-products-open .c-header_menu_item.-products & {
        transform: rotate(-180deg);
    }

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.c-header_burger {
    width: 48px;
    height: 8px;
    position: relative;

    @media (min-width: $from-medium) {
        display: none;
    }
}

.c-header_burger_open {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.c-header_burger_open_item {
    background-color: currentColor;
    height: 1px;
    display: block;
    transform: scale(1);
    transition: transform $speed $easing;

    html.has-mobile-menu-open & {
        transform: scale(0);
    }
}

.c-header_burger_open_item:nth-child(1) {
    width: 100%;
}

.c-header_burger_open_item:nth-child(2) {
    width: 32px;
}

.c-header_burger_close {
    position: absolute;
    top: 0; left: 20%; right: 0; bottom: 0;
    transform: scale(0);
    transition: transform $speed $easing;

    html.has-mobile-menu-open .c-header.-fixed & {
        transform: scale(1);
    }
}

.c-header_burger_close_item {
    background-color: currentColor;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.c-header_burger_close_item:nth-child(1) {
    transform: rotate(-45deg);
}

.c-header_burger_close_item:nth-child(2) {
    transform: rotate(45deg);
}
