.c-heading {
    line-height: $line-height-h;
    margin-bottom: rem(30px);

    &.-h1 {
        font-size: 20vw;
        font-weight: normal;
        line-height: 0.7;
        letter-spacing: -0.05em;

        @media (min-width: $from-medium) {
            margin-bottom: rem(60px);
        }

        > div:nth-child(2) {
            text-indent: 0.5em;
        }
    }

    &.-h2 {
        font-weight: normal;
        line-height: 0.7;
        letter-spacing: -0.05em;

        @media (min-width: $from-medium) {
            margin-bottom: rem(60px);
        }

        @media (min-width: $from-small) {
            font-size: 12vw;
        }

        @media (max-width: $to-small) {
            font-size: 16vw;
        }
    }

    &.-h3 {
        font-weight: normal;
        font-size: rem(65px);
        line-height: 0.88;
        letter-spacing: -0.05em;

        @media (min-width: $from-medium) {
            margin-bottom: rem(40px);
        }
    }

    &.-h4 {
        font-weight: normal;
        line-height: 1.2;
        letter-spacing: -0.04em;

        @media (min-width: $from-small) {
            font-size: rem(27px);
        }

        @media (max-width: $to-small) {
            font-size: rem(22px);
        }
    }

    &.-h5 {
        font-size: rem($font-size-h4);
        font-weight: $medium;
    }

    &.-h6 {
        font-size: rem($font-size-h6);
    }

    strong {
        color: $blue;
        font-weight: $normal;
    }
}
