.c-heading {
    line-height: $line-height-h;
    margin-bottom: rem(30px);

    &.-h1 {
        font-size: 18vw;
        font-weight: normal;
        line-height: 0.9;
    }

    &.-h2 {
        font-weight: normal;
        line-height: 0.9;

        @media (min-width: $from-small) {
            font-size: 12vw;
        }

        @media (max-width: $to-small) {
            font-size: 16vw;
        }
    }

    &.-h3 {
        font-weight: normal;
        font-size: rem(44px);
        line-height: 1;
    }

    &.-h4 {
        font-weight: normal;
        line-height: 1.2;


        @media (min-width: $from-small) {
            font-size: rem(27px);
        }

        @media (max-width: $to-small) {
            font-size: rem(22px);
        }
    }

    &.-h5 {
        font-size: rem($font-size-h4);
        font-weight: $medium;
    }

    &.-h6 {
        font-size: rem($font-size-h6);
    }

    strong {
        color: $blue;
        font-weight: $normal;
    }
}
