.c-header-multi {
    padding-top: rem($unit * 2);
}

.c-header-multi_title {
    margin-bottom: rem($unit * 2);
}

.c-header-multi_scroll-indicator {
    position: absolute;
    z-index: 10;
    opacity: 0;
    transform: translateY(-50px);

    html.is-loaded & {
        transition: opacity $speed-slow $easing, transform $speed-slow $easing;
        transform: none;
        opacity: 1;
        transition-delay: 0.85s;
    }

        
    @media (min-width: $from-large) {
        right: rem($unit*2);
        bottom: rem($unit*2);
    }
    
    @media (max-width: $to-large) and (min-width: $from-medium) {
        right: rem($unit);
        bottom: rem($unit);
    }
    
    @media (max-width: $to-medium) {
        right: 30px;
        bottom: 30px;
    }
}

.c-header-multi_content {
    max-width: rem(440px);
}

.c-header-multi_content {
    margin-bottom: 0;
}