.c-hero {
    position: relative;
    height: 300vh;

    html.is-mobile & {
        height: 100vh;
    }
}

.c-hero_container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.c-hero_logo-wrap {
    width: 100%;
    position: relative;
    height: 100%;
    transform: translateY(200px);
    opacity: 0;
    transition: opacity 0.8s $easing 0s, transform 0.8s $easing 0s;

    html.is-loaded & {
        transform: none;
        opacity: 1;
        transition-delay: 0.2s;
    }

    html.is-loading & {
        transition-delay: 0s, 0.5s;
    }
}

.c-hero_logo {
    color: $whiteOff;
    width: 100%;
    height: 100%;
    display: block;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.c-hero_device {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.c-hero_content {
    position: absolute;
    left: rem($unit*2);
    bottom: rem($unit*2);
    max-width: rem(345px);
    width: 100%;
    z-index: 10;
    mix-blend-mode: difference;
    line-height: 1.1;
    opacity: 0;
    transform: translateY(-50px);

    html.is-mobile & {
        mix-blend-mode: normal;
    }

    html.is-loaded & {
        transition: opacity $speed-slow $easing, transform $speed-slow $easing;
        transform: none;
        transition-delay: 0.75s;
    }

    html.is-loaded.has-hero-running & {
        opacity: 1;
    }

    
    @media (min-width: $from-large) {
        left: rem($unit*2);
        bottom: rem($unit*2);
    }
    
    @media (max-width: $to-large) and (min-width: $from-medium) {
        left: rem($unit);
        bottom: rem($unit);
    }
    
    @media (max-width: $to-medium) {
        left: 30px;
        bottom: 30px;
    }
}

.c-hero_scroll-indicator {
    position: absolute;
    z-index: 10;
    mix-blend-mode: difference;
    opacity: 0;
    transform: translateY(-50px);

    html.is-mobile & {
        mix-blend-mode: normal;
    }

    html.is-loaded & {
        transition: opacity $speed-slow $easing, transform $speed-slow $easing;
        transform: none;
        opacity: 1;
        transition-delay: 0.85s;
    }

    @media (min-width: $from-large) {
        right: rem($unit*2);
        bottom: rem($unit*2);
    }
    
    @media (max-width: $to-large) and (min-width: $from-medium) {
        right: rem($unit);
        bottom: rem($unit);
    }
    
    @media (max-width: $to-medium) {
        right: 30px;
        bottom: 30px;
    }
}

.c-hero_mask-wrap {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform: scale(1.5);
    transition: transform 1s $easing, opacity 1s $easing;
    opacity: 0;

    html.is-mobile & {
        display: none;
    }

    html.is-loaded & {
        opacity: 1;
        transform: scale(1);
        transition-delay: 0.3s;
    }
}
