.c-hero {
    position: relative;
    height: 300vh;
}

.c-hero_container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.c-hero_logo-wrap {
    width: 100%;
    position: relative;
    height: 100%;
}

.c-hero_logo {
    color: $whiteOff;
    width: 100%;
    height: 100%;
    display: block;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.c-hero_device {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.c-hero_content {
    position: absolute;
    left: rem($unit*2);
    bottom: rem($unit*2);
    max-width: rem(345px);
    width: 100%;
    z-index: 10;
    mix-blend-mode: difference;
    font-size: rem(30px);
    line-height: 1.1;
    opacity: 0;

    html.is-loaded & {
        transition: opacity $speed $easing;
    }

    .has-hero-running & {
        opacity: 1;
    }
}

.c-hero_scroll-indicator {
    position: absolute;
    right: rem($unit*2);
    bottom: rem($unit*2);
    z-index: 10;
    mix-blend-mode: difference;
}
