.c-preloader {
    position: fixed;
    z-index: 1000;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue;
    transition: visibility $speed $easing, opacity $speed $easing;
    visibility: visible;
    opacity: 1;

    .is-loaded & {
        visibility: hidden;
        opacity: 0;
    }
}
