.c-section {
    padding-top: rem($unit * 2);
    padding-bottom: rem($unit * 2);
    position: relative;

    &.-no-padding-top {
        padding-top: 0;
    }

    &.-no-padding-bottom {
        padding-bottom: 0;
    }

    &.-margin-top {
        margin-top: rem($unit * 2);

        @media (max-width: $to-large) {
            margin-top: rem($unit);
        }

        @media (max-width: $to-small) {
            margin-top: rem($unit/2);
        }
    }

    @media (max-width: $to-large) {
        padding-top: rem($unit);
        padding-bottom: rem($unit);
    }


    @media (max-width: $to-small) {
        padding-top: rem($unit/2);
        padding-bottom: rem($unit/2);
    }
}
