.c-video {
    position: relative;
    cursor: pointer;

    &::after{
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        background-color: rgba($blackOff, 0.6);
        transition: opacity $speed-slow $easing;
    }

    &:hover {
        &::after{
            opacity: 1;
        }
    }

}

.c-video_button {
    position: absolute;
    bottom: rem($unit * 2);
    left: rem($unit * 2);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: $white;
        border-radius: 50%;
        z-index: -1;
        transition: transform $speed $easing;
    }

    .c-video:hover & {
        &:before {
            transform: scale(1.1);
        }
    }


    @media (min-width: $from-small) {
        width: rem(150px);
        height: rem(150px);
    }

    @media (max-width: $to-small) {
        width: rem(94px);
        height: rem(94px);
    }
}

.c-video_button_icon {
    display: block;
    width: rem(14px);
    height: rem(18px);
    color: $blue;

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
