<p>{{# _t }}admin.app.contact.available-tags{{/ _t }}</p>
<ul>
    {{# obj.contactEntryTemplateTags }}
        <li><code>{{ tag }}</code> — {{ desc }}</li>
    {{/ obj.contactEntryTemplateTags }}
</ul>