@keyframes spin {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.c-spinner {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    text-indent: -9999em;
    z-index: 1010;
    width: rem(30px);
    height: rem(30px);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity $speed $easing;
    animation: spin 0.8s infinite linear;
    top: 50%;
    left: 50%;
    color: $blue;

    form.is-loading &{
        opacity: 1;
    }

    html.is-ie & {
        display: none;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        stroke: currentColor;
        stroke-width: 1px;
        fill: none;
        transition: stroke $speed $easing;
    }

    @media (min-width: $from-small) {
        bottom: rem($unit + 3px);
        right: rem($unit);
    }
    @media (max-width: $to-small) {
        bottom: rem(($unit/2) + 4px);
        right: rem(($unit/2) - 4px);
        width: 60px;
        height: 60px;
    }

}