// wrapper
.c-tiles {

    @media (min-width: $from-large) {
        margin-top: - rem($unit * 4);
    }
    @media (max-width: $to-large) {
        margin-top: - rem($unit);
    }
}

.c-tile {
    background-color: $white;
    // background: linear-gradient(0deg, rgba(229,230,235,1), rgba(255,255,255,1));
    display: block;
    color: $grayDark;
    margin-bottom: rem($unit-small);
    position: relative;
    z-index: 1;
    box-shadow: 3px 3px 25px 6px rgba(0,0,0,0);
    transition: box-shadow $speed $easing;
    text-align: left;

    &:hover {
        color: $grayDark;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 8px 6px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38px 25px rgba(0, 0, 0, 0.02), 0px 64px 46px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.03);
        &:before {
            // opacity: 1;
        }
    }

    &:before {
        // content: '';
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: opacity $speed-slow $easing;
        // background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(229,230,235,1) 75%, rgba(255,255,255,1) 100%);
        opacity: 1;
    }

    &.-small {

        @media (min-width: $from-small) {
            max-width: rem(345px);
        }
    }

    &.-offset-top {
        @media (min-width: $from-medium) {
            top: rem($unit * 4);
        }
    }
}

.c-tile_inner {
    padding: rem(24px) rem(24px) rem(16px) rem(24px);
}

.c-tile_inner_top,
.c-tile_inner_bottom {
    display: flex;
    justify-content: space-between;
}

.c-tile_inner_top {
    padding-bottom: rem(30px);
    font-size: rem(13px);
}

.c-tile_inner_top_item {
    width: 50%;

    &:nth-child(2) {
        text-align: right;
    }

    .c-tile.-wide & {
        max-width: rem(150px);
        margin-bottom: rem($unit);

    }

    @media (min-width: $from-medium) {
        .c-tile.-quarter & {
            width: 25%;

            &:first-child {
                width: 75%;
            }
        }
    }
}

.c-tile_inner_middle {
    display: block;
    text-align: center;
    padding: rem(20px) 0;

    .c-tile.-quarter & {
        padding: rem(10px) 0;
    }

    @media (max-width: $to-large) {
        padding: rem(10px) 0;
    }
}

.c-tile_inner_middle_image {
    width: 90%;
    margin: 0 auto;
}

.c-tile_inner_bottom {
    padding-top: rem(30px);
    align-items: flex-end;
}

.c-tile_inner_bottom_item {

    &:first-child {
        width: 20%;
    }

    &:nth-child(2) {
        text-align: right;
        width: 80%;
    }
}


.c-tile_inner_bottom_title {
    @extend .c-heading.-h4;
    line-height: 1;
    color: $blackOff;
    text-align: right;

    .c-tile.-wide & {
        font-size: rem(42px);
    }
}

.c-tile_inner_bottom_button {
    width: rem(32px);
    height: rem(32px);
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        border-radius: 50%;
        border: solid 1px $grayDark;
        transition: transform $speed $easing, opacity $speed $easing;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        border-radius: 50%;
        border: solid 1px $blackOff;
        background-color: $blackOff;
        transform: scale(0.8);
        opacity: 0;
        transition: transform $speed $easing, opacity $speed $easing;
        z-index: -1;
    }

    .c-tile:hover & {
        &:after {
            transform: scale(1);
            opacity: 1;
        }

        &:before {
            transform: scale(1.2);
            opacity: 0;
        }

        svg {
            color: $white;
        }
    }

    svg {
        width: rem(8px);
        height: rem(8px);
        display: block;
        color: $blackOff;
        transition: color $speed $easing;
    }
}
