// ==========================================================================
// Base / Fonts
// ==========================================================================

@include font-face(
    $font-suisse,
    "fonts/SuisseBPIntl-Regular"
) {
    font-style:  normal;
    font-weight: 400;
}

@include font-face(
    $font-suisse,
    "fonts/SuisseBPIntl-Medium"
) {
    font-style:  normal;
    font-weight: 500;
}

