<section data-scroll-section>
    <div class="c-section u-background-light">
        <div class="c-content-horizontal-title">
            <div class="c-content-horizontal-title_inner" 
                data-scroll 
                data-module-rail="attachment-uid-plz" 
                data-rail-speed="1.5" 
                data-scroll-call="trigger,Rail,attachment-uid-plz">
                <span class="c-heading -h1 u-color-blue">
                    Enhance your digital growth 
                </span>
            </div>
            <div class="c-content-horizontal-title_infos u-anim-text-line" data-scroll data-module-split>
                Enhance your digital growth 
                with our comprehensive content management system.
            </div>
        </div>
    </div>
</section>