<section data-scroll-section>
    <div class="c-section u-background-light">
        <div class="o-container">
            <div class="o-layout -gutter-small">
                <div class="o-layout_item u-2/3@from-medium">
                    <img
                        class="u-border-radius u-anim" 
                        data-scroll
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1034 648'%3E%3C/svg%3E"
                        alt="Somerville: City of Diversity"
                        data-load-src="https://placehold.it/1034x648"
                    >
                </div>
                <div class="o-layout_item u-1/3@from-medium">
                    <p class="u-color-blue u-anim" data-scroll>
                        01
                    </p>
                    <h3 class="c-content-text-image_title c-heading -h3 u-anim-text-line" data-scroll data-module-split>
                        Multifunctional Page Builder
                    </h3>
                    <p class="u-anim" data-scroll>
                        Drive your website content to the next level with our multifunctional page builder. Create rich-content pages, with different types of media supports, using a set of pre-formatted tools: user-friendly functions, drag & drop, reordering, assets management, automatic resizing and much more.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>