{{!!
    This partial still needs to be wrapped in a .c-header
    See modifiers in _header.scss

!!}}
<div class="o-container">
    <div class="c-header_container">
        <div class="c-header_container_item">
            <div class="c-header_logo">
                <svg role="img" aria-label="Charcoal"><use href="assets/images/sprite.svg#logo"></use></svg>
            </div>
            <ul class="c-header_menu">
                <li class="c-header_menu_item -products">
                    <button class="c-header_menu_item_inner" data-module-products-button type="button">
                        Products
                        <span class="c-header_menu_item_inner_arrow">
                            <svg role="img"><use href="assets/images/sprite.svg#arrow-down-tip"></use></svg>
                        </span>
                    </button>
                </li>
                <li class="c-header_menu_item">
                    <a class="c-header_menu_item_inner" href="#">
                        Technology
                    </a>
                </li>
                <li class="c-header_menu_item">
                    <a class="c-header_menu_item_inner" href="#">
                        Support
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-header_container_item -right">
            <ul class="c-header_menu">
                <li class="c-header_menu_item">
                    <a class="c-header_menu_item_inner" href="#">
                        Fr
                    </a>
                </li>
                <li class="c-header_menu_item">
                    <a class="c-header_menu_item_inner" href="#">
                        View demo
                    </a>
                </li>
                <li class="c-header_menu_item">
                    <a href="#" class="c-button">
                        <span class="c-button_label">Get in touch</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
