{{!!
This partial still needs to be wrapped in a .c-header
See modifiers in _header.scss

!!}}
<div class="o-container">
    <div class="c-header_container">
        <div class="c-header_container_item">
            <a class="c-header_logo" href="/">
                <svg role="img" aria-label="Charcoal">
                    <use href="assets/app/images/sprite.svg#logo"></use>
                </svg>
            </a>
            <ul class="c-header_menu u-none@to-medium">
                <li class="c-header_menu_item -products">
                    <button class="c-header_menu_item_inner c-link" data-module-split data-split-type="chars"
                        data-module-products-button type="button">
                        Products
                        <span class="c-header_menu_item_inner_arrow">
                            <svg role="img">
                                <use href="assets/app/images/sprite.svg#arrow-down-tip"></use>
                            </svg>
                        </span>
                    </button>
                </li>
                <li class="c-header_menu_item">
                    <a class="c-header_menu_item_inner c-link" data-module-split data-split-type="chars"
                        href="/technology">
                        Technology
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-header_container_item -right">
            <ul class="c-header_menu">
                <li class="c-header_menu_item u-none@to-medium">
                    <a class="c-header_menu_item_inner c-link" data-module-split data-split-type="chars" href="/multi">
                        Get demo
                    </a>
                </li>
                <li class="c-header_menu_item u-none@to-medium">
                    <a href="/contact" class="c-button">
                        <span class="c-button_label">Get in touch</span>
                    </a>
                </li>
            </ul>

            <button class="c-header_burger" type="button" aria-label="Toggle Menu" data-module-nav-mobile-button>
                <span class="c-header_burger_open">
                    <span class="c-header_burger_open_item"></span>
                    <span class="c-header_burger_open_item"></span>
                </span>

                <span class="c-header_burger_close">
                    <span class="c-header_burger_close_item"></span>
                    <span class="c-header_burger_close_item"></span>
                </span>
            </button>
        </div>
    </div>
</div>