<div class="c-nav-mobile">
    <div class="c-nav-mobile_inner o-container">
        <div class="c-nav-mobile_container">
            <ul class="c-nav-mobile_list">
                <li class="c-nav-mobile_list_item">
                    <span class="c-nav-mobile_list_item_label">Products</span>
                    <ul class="c-nav-mobile_sublist">
                        <li class="c-nav-mobile_sublist_item">
                            <a href="/multi" class="c-nav-mobile_list_item_label">Messenger</a>
                        </li>

                        <li class="c-nav-mobile_sublist_item">
                            <a href="/multi" class="c-nav-mobile_list_item_label">Data Management</a>
                        </li>

                        <li class="c-nav-mobile_sublist_item">
                            <a href="/multi" class="c-nav-mobile_list_item_label">E-Shop Management</a>
                        </li>
                    </ul>
                </li>

                <li class="c-nav-mobile_list_item">
                    <a href="/multi" class="c-nav-mobile_list_item_label">Technology</a>
                </li>

                <li class="c-nav-mobile_list_item">
                    <a href="/multi" class="c-nav-mobile_list_item_label">Support</a>
                </li>
            </ul>

            <div class="c-nav-mobile_buttons">
                <a href="/multi" class="c-button">
                    <span class="c-button_label">View demo</span>
                </a>

                <a href="/contact" class="c-button -black">
                    <span class="c-button_label">Get in touch</span>
                </a>
            </div>
        </div>
    </div>
</div>
