<nav class="c-products-nav">
    <div class="c-products-nav_background" data-module-products-button></div>
    <div class="c-products-nav_container">
        <div class="o-container">
            <div class="c-products-nav_inner">
                <ul class="c-products-nav_list">
                    <li class="c-products-nav_list_item ">
                        <span class="c-products-nav_list_item_icon">
                            <svg role="img"><use href="assets/images/sprite.svg#arrow-right"></use></svg>
                        </span>
                        <a href="/multi">
                            Messenger
                        </a>
                    </li>
                    <li class="c-products-nav_list_item ">
                        <span class="c-products-nav_list_item_icon">
                            <svg role="img"><use href="assets/images/sprite.svg#arrow-right"></use></svg>
                        </span>
                        <a href="/multi">
                            Content Management
                        </a>
                    </li>
                    <li class="c-products-nav_list_item ">
                        <span class="c-products-nav_list_item_icon">
                            <svg role="img"><use href="assets/images/sprite.svg#arrow-right"></use></svg>
                        </span>
                        <a href="/multi">
                            Data Management
                        </a>
                    </li>
                    <li class="c-products-nav_list_item ">
                        <span class="c-products-nav_list_item_icon">
                            <svg role="img"><use href="assets/images/sprite.svg#arrow-right"></use></svg>
                        </span>
                        <a href="/multi">
                            e-shop Management
                        </a>
                    </li>
                <ul>
            </div>
        </div>
        <div class="c-products-nav_image">
            <div class="c-products-nav_image_inner" style="background-image:url('assets/images/placeholders/products-nav.jpg');">

            </div>
        </div>
    </div>
</nav>
