<!doctype html>
<html {{& htmlAttr }}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <base href="{{ baseUrl }}">

    {{> charcoal/cms/metatag/document }}
    {{> charcoal/cms/metatag/opengraph }}

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- For a dark mode managment and svg favicon add this in your favicon.svg -->
    <!--
        <style>
            path {
                fill: #000;
            }
            @media (prefers-color-scheme: dark) {
                path {
                    fill: #fff;
                }
            }
        </style>
    -->
    <link rel="icon" href="assets/images/favicons/favicon.svg">

    <link id="stylesheet" rel="stylesheet" href="assets/styles/main.css" media="print" onload="this.media='all'; this.onload=null; this.isLoaded=true">

    <!-- Styles -->
    {{# criticalCss }}
    <style media="all">
        {{& . }}
    </style>
    {{/ criticalCss }}

    <!-- Add your own styles
    <link rel="stylesheet" href="{{# withBaseUrl }}assets/styles/main.css?v={{ assetsVersion }}{{/ withBaseUrl }}">
    -->

    {{# google.analytics.tracking_id }}
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '{{ . }}', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    {{/ google.analytics.tracking_id }}
</head>
    <body data-module-load style="opacity: 0;">
        {{> app/template/partial/preloader }}

        <div data-load-container>
            {{> app/template/partial/nav }}

            {{> app/template/partial/nav-mobile }}

            <header class="c-header -fixed">
                {{> app/template/partial/header }}
            </header>
