<section data-scroll-section>
    <div class="c-section c-content-tagline u-background-light">
        <div class="o-container">
            <div class="c-content-tagline_inner" data-module-split data-scroll>
                Charcoal CMS is a <strong>smart cloud</strong> solution to manage your website. It promotes best practices, from a <strong>streamlined</strong> user experience, to performance and security. Unlock all your brand’s <strong>capabilities</strong> and enhance your digital business intelligence.
            </div>
        </div>
    </div>
</section>
