<section data-scroll-section>
    <div class="c-section u-background-light -no-padding-bottom" id="features">
        <div class="o-container">
            <h2 class="c-heading -h1 u-color-blue u-anim-text-line" data-module-split data-scroll>
                Main Products
            </h2>

            <div class="o-layout -gutter-small u-text-center c-tiles">
                {{# featuresSummary.0 }}
                <div class="o-layout_item u-1/3@from-medium u-1/2@from-small">
                    <a href="{{url}}" class="c-tile u-border-radius -offset-top" data-scroll data-scroll-offset="0"
                        data-scroll-speed="2" data-scroll-target="#features">
                        <div class="c-tile_inner">
                            <div class="c-tile_inner_top">
                                <span class="c-tile_inner_top_item">{{subtitle}}</span>
                                <span class="c-tile_inner_top_item">01</span>
                            </div>

                            <div class="c-tile_inner_middle">
                                <img class="c-tile_inner_middle_image"
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                    alt="{{title}}"
                                    data-load-src="{{thumbnail}}">
                            </div>

                            <div class="c-tile_inner_bottom">
                                <span class="c-tile_inner_bottom_item">
                                    <div class="c-tile_inner_bottom_button">
                                        <svg role="img" aria-hidden="true">
                                            <use
                                                href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                            </use>
                                        </svg>
                                    </div>
                                </span>

                                <span class="c-tile_inner_bottom_item">
                                    <span class="c-tile_inner_bottom_title">{{title}}</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {{/ featuresSummary.0 }}

                {{# featuresSummary.1 }}
                <div class="o-layout_item u-1/3@from-medium u-1/2@from-small">
                    <a href="{{url}}" class="c-tile u-border-radius" data-scroll data-scroll-offset="0"
                        data-scroll-speed="3" data-scroll-target="#features">
                        <div class="c-tile_inner">
                            <div class="c-tile_inner_top">
                                <span class="c-tile_inner_top_item">{{subtitle}}</span>
                                <span class="c-tile_inner_top_item">02</span>
                            </div>

                            <div class="c-tile_inner_middle">
                                <img class="c-tile_inner_middle_image"
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                    alt="{{title}}"
                                    data-load-src="{{thumbnail}}">
                            </div>

                            <div class="c-tile_inner_bottom">
                                <span class="c-tile_inner_bottom_item">
                                    <div class="c-tile_inner_bottom_button">
                                        <svg role="img" aria-hidden="true">
                                            <use
                                                href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                            </use>
                                        </svg>
                                    </div>
                                </span>

                                <span class="c-tile_inner_bottom_item">
                                    <span class="c-tile_inner_bottom_title">{{title}}</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {{/ featuresSummary.1 }}

                {{# featuresSummary.2 }}
                <div class="o-layout_item u-1/3@from-medium u-1/2@from-small">
                    <a href="{{url}}" class="c-tile u-border-radius -offset-top" data-scroll data-scroll-offset="0"
                        data-scroll-speed="2" data-scroll-target="#features">
                        <div class="c-tile_inner">
                            <div class="c-tile_inner_top">
                                <span class="c-tile_inner_top_item">{{subtitle}}</span>
                                <span class="c-tile_inner_top_item">03</span>
                            </div>

                            <div class="c-tile_inner_middle">
                                <img class="c-tile_inner_middle_image"
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                    alt="{{title}}"
                                    data-load-src="{{thumbnail}}">
                            </div>

                            <div class="c-tile_inner_bottom">
                                <span class="c-tile_inner_bottom_item">
                                    <div class="c-tile_inner_bottom_button">
                                        <svg role="img" aria-hidden="true">
                                            <use
                                                href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                            </use>
                                        </svg>
                                    </div>
                                </span>

                                <span class="c-tile_inner_bottom_item">
                                    <span class="c-tile_inner_bottom_title">{{title}}</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {{/ featuresSummary.2 }}

                <div class="o-layout_item u-1/3@from-medium u-none@to-medium">{{!!EMPTY}}</div>

                {{# featuresSummary.3 }}
                <div class="o-layout_item u-1/3@from-medium u-1/2@from-small">
                    <a href="{{url}}" class="c-tile u-border-radius" data-scroll data-scroll-offset="0"
                        data-scroll-speed="3" data-scroll-target="#features">
                        <div class="c-tile_inner">
                            <div class="c-tile_inner_top">
                                <span class="c-tile_inner_top_item">{{subtitle}}</span>
                                <span class="c-tile_inner_top_item">04</span>
                            </div>

                            <div class="c-tile_inner_middle">
                                <img class="c-tile_inner_middle_image"
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                    alt="{{title}}"
                                    data-load-src="{{thumbnail}}">
                            </div>

                            <div class="c-tile_inner_bottom">
                                <span class="c-tile_inner_bottom_item">
                                    <div class="c-tile_inner_bottom_button">
                                        <svg role="img" aria-hidden="true">
                                            <use
                                                href="{{# withBaseUrl }}assets/app/images/sprite.svg#arrow-right{{/ withBaseUrl }}">
                                            </use>
                                        </svg>
                                    </div>
                                </span>

                                <span class="c-tile_inner_bottom_item">
                                    <span class="c-tile_inner_bottom_title">{{title}}</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {{/ featuresSummary.3 }}

                <div class="o-layout_item u-1/3@from-medium u-none@to-medium">{{!!EMPTY}}</div>
            </div>
        </div>
    </div>
</section>