<div class="c-nav-mobile">
    <div class="c-nav-mobile_inner o-container">
        <div class="c-nav-mobile_container">
            <ul class="c-nav-mobile_list">
                <li class="c-nav-mobile_list_item">
                    <span class="c-nav-mobile_list_item_label">{{#_t}}features.title{{/_t}}</span>
                    <ul class="c-nav-mobile_sublist">
                        {{# featuresSummary }}
                        <li class="c-nav-mobile_sublist_item">
                            <a href="{{url}}" class="c-nav-mobile_list_item_label">{{title}}</a>
                        </li>
                        {{/ featuresSummary }}
                    </ul>
                </li>

                <li class="c-nav-mobile_list_item">
                    <a href="{{routes.technology}}" class="c-nav-mobile_list_item_label">{{#_t}}technology.title{{/_t}}</a>
                </li>
            </ul>

            <div class="c-nav-mobile_buttons">
                <!--<a href="{{routes.contact}}" class="c-button">
                    <span class="c-button_label">Get demo</span>
                </a>-->

                <a href="{{routes.contact}}" class="c-button -black">
                    <span class="c-button_label">{{#_t}}site.get-in-touch{{/_t}}</span>
                </a>
            </div>
        </div>
    </div>
</div>