<nav class="c-products-nav">
    <div class="c-products-nav_background" data-module-products-button></div>
    <div class="c-products-nav_container">
        <div class="o-container">
            <div class="c-products-nav_inner">
                <ul class="c-products-nav_list">
                    {{# features }}
                    <li class="c-products-nav_list_item ">
                        <span class="c-products-nav_list_item_icon">
                            <svg role="img"><use href="assets/app/images/sprite.svg#arrow-right"></use></svg>
                        </span>
                        <a href="{{url}}">
                            {{title}}
                        </a>
                    </li>
                    {{/ features }}
                <ul>
            </div>
        </div>
        <div class="c-products-nav_image">
            <div class="c-products-nav_image_inner" style="background-image:url('assets/app/images/placeholders/products-nav.jpg');">

            </div>
        </div>
    </div>
</nav>