        {{> app/template/web/partial/video-modal }}
    </div>

    <script nomodule crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js"></script>
    <script nomodule crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=fetch%2CCustomEvent%2CElement.prototype.matches%2CNodeList.prototype.forEach%2CAbortController"></script>

    <script defer src="assets/app/scripts/vendors.js"></script>
    <script defer src="assets/app/scripts/app.js"></script>
</body>
</html>