<div class="c-video-modal" data-module-video-modal>
    <button type="button" class="c-button -white || c-video-modal_close" data-video-modal="close">
        <span class="c-button_bg"></span>
        <span class="c-button_label">Close</span>
    </button>

    <div class="c-video-modal_content">
        <div class="c-video-modal_inner" data-video-modal="inner"></div>
    </div>
</div>
